*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    /* justify-self: unset; */
    justify-content: space-around;
    
    
}


.maincont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 0px 0px;
    /* margin-top: 40px; */
    flex-direction: row;
    /* background-color: indigo; */
    max-width: 700px;
    min-height: 400px;
    font-size: 15px;
    border-radius: 10px;
 
    p{
        line-height: 25px;
        
    }


    .btn{
        margin-top: 100px;
        min-width: 100px;
        min-height: 40px;
        padding: 10px;
        background-color: rgba(255, 105, 180, 0);
        color: white;
        border: 1.7px solid white;
        /* border-radius: 20px 20px 20px 20px; */
        border-radius: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 700;
    }

    .btn:hover{
        background-color: white;
        border: none;
        color:rgba(0, 128, 0, 0.2) ;
        /* opacity: 0; */
    }

    .sedans {

        font-weight: 300;
        font-family: 'Lexend Deca', sans-serif;
        padding: 30px 40px ;
        height: 100%;
        background-color: hsl(31, 77%, 52%);
        color: white;
        border-radius: 15px 0 0 15px;

        .btn:hover{
            background-color: white;
            border: none;
            color:hsl(31, 77%, 52%) ;
            /* opacity: 0; */
        }
    }


    
    .suvs {
        font-weight: 300;
        font-family: 'Lexend Deca', sans-serif;
        padding: 30px 40px ;
        height: 100%;
        background-color: hsl(184, 100%, 22%);
        color: white;
        

        .btn:hover{
            background-color: white;
            border: none;
            color:hsl(184, 100%, 22%);
            /* opacity: 0; */
        }
    }
    
    .luxury {
        font-weight: 300;
        font-family: 'Lexend Deca', sans-serif;
        padding: 30px 40px ;
        height: 100%;
        background-color:hsl(179, 100%, 13%) ;
        color: white;
        border-radius: 0 15px 15px 0;


        .btn:hover{
            background-color: white;
            border: none;
            color:hsl(179, 100%, 13%);
            /* opacity: 0; */
        }
        
    }
}



@media screen and (max-width:700px) {
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    
    
    body{
        display: flex;
        justify-content: center;
        /* justify-self: unset; */
        justify-content: space-around;
        
        
    }
    
    
    .maincont {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 20px 80px 20px;
        /* margin-top: 40px; */
        flex-direction: column;
        /* background-color: indigo; */
        max-width: 350px;
        min-height: 400px;
        font-size: 15px;
        border-radius: 10px;
     
        p{
            max-width: 90%;
            line-height: 25px;
            
        }
    
    
        .btn{
            margin-top: 20px;
            min-width: 150px;
            min-height: 40px;
            padding: 10px;
            background-color: rgba(255, 105, 180, 0);
            color: white;
            border: 1.7px solid white;
            /* border-radius: 20px 20px 20px 20px; */
            border-radius: 20px;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 700;
        }
    
        .btn:hover{
            background-color: white;
            border: none;
            color:rgba(0, 128, 0, 0.2) ;
            /* opacity: 0; */
        }
    
        .sedans {
    
            font-weight: 300;
            font-family: 'Lexend Deca', sans-serif;
            padding: 30px 40px ;
            height: 100%;
            background-color: hsl(31, 77%, 52%);
            color: white;
            border-radius: 10px 10px 0 0;
    
            .btn:hover{
                background-color: white;
                border: none;
                color:hsl(31, 77%, 52%) ;
                /* opacity: 0; */
            }
        }
    
    
        
        .suvs {
            font-weight: 300;
            font-family: 'Lexend Deca', sans-serif;
            padding: 30px 40px ;
            height: 100%;
            background-color: hsl(184, 100%, 22%);
            color: white;
            
    
            .btn:hover{
                background-color: white;
                border: none;
                color:hsl(184, 100%, 22%);
                /* opacity: 0; */
            }
        }
        
        .luxury {
            font-weight: 300;
            font-family: 'Lexend Deca', sans-serif;
            padding: 30px 40px ;
            height: 100%;
            background-color:hsl(179, 100%, 13%) ;
            color: white;
            border-radius: 0 0 10px 10px;
    
    
            .btn:hover{
                background-color: white;
                border: none;
                color:hsl(179, 100%, 13%);
                /* opacity: 0; */
            }
            
        }
    }
    
}